@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800&display=swap");
body {
  margin: 0;
  font-family: 'Segoe UI';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background-color: #F6F8F9;
   overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  
}

p{
  margin:0;
}
ul{
  margin:0;
  padding:0;
}
figure{
  margin:0;
  padding:0;
}
* {
  box-sizing: border-box;
}
